.radio-label {
  display: inline-block;
  padding: 0.4rem 1rem;
  border: medium solid var(--site-blue-600);
  background-color: white;
  color: var(--site-blue-600);
  cursor: pointer;
  font-weight: 600;
}

.radio-input {
  display: none;
}
